@model Pet_Care.Models.OrderDetail

@{
    ViewData["Title"] = "Order Detail";
    Layout = "~/Areas/AdminQL/Views/Shared/_Admins.cshtml";
}

<div class="container mt-4">
    <div class="card shadow-lg">
        <div class="card-header bg-info text-white text-center">
            <h2>Chi tiết đơn hàng</h2>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.Quantity)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Quantity)</dd>

                <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.Price)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Price)</dd>

                <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.TotalPrice)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.TotalPrice)</dd>

                <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.AppointmentId)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Appointment.AppointmentDate)</dd>

                <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.OrderId)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Order.OrderId)</dd>

                <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.PetId)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Pet.PetName)</dd>

                <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.ServiceId)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Service.ServiceName)</dd>
            </dl>
        </div>
        <div class="card-footer text-center">
            <a asp-action="Edit" asp-route-id="@Model?.OrderDetailId" class="btn btn-warning px-4">Sửa </a>
            <a asp-action="Index" class="btn btn-secondary px-4">Quay lại  </a>
        </div>
    </div>
</div>
