@model List<Service>

@{
    ViewData["Title"] = ViewBag.ServiceName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <main role="main" class="pb-3">
        <!-- Page Header Start -->
        <div class="container-fluid py-5 mb-5 wow fadeIn" style="background: url('/img/imgpetcare/banner2.jpg')" data-wow-delay="0.1s">
            <div class="container text-center py-5">
                <h1 class="display-3 text-dark mb-4 animated slideInDown">@ViewBag.ServiceName</h1>
                <nav aria-label="breadcrumb animated slideInDown">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.ServiceName</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Page Header End -->
        <!-- Product Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="mb-5">Bé cưng của bạn được thoải mái như ở nhà</h1>
                </div>
                <div class="row gx-4">
                    @foreach (var services in Model)
                    {
                        <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="product-item">
                                <div class="position-relative">
                                    <img class="img-fluid" src="@services.Image" alt="">
                                    <div class="product-overlay">
                                        <a class="btn btn-square btn-secondary rounded-circle m-1" asp-controller="Services" asp-action="Details" asp-route-id="@services.ServiceId"><i class="bi bi-link"></i></a>
                                        <a class="btn btn-square btn-secondary rounded-circle m-1" asp-controller="Cart" asp-action="Add" asp-route-id="@services.ServiceId"><i class="bi bi-cart"></i></a>
                                    </div>
                                </div>
                                <div class="text-center p-4">
                                    <a class="d-block h5" href="#">@services.ServiceName</a>
                                    <span class="text-primary me-1">@services.Price VNĐ</span><br />
                                    <span class="text-decoration-line-through">@services.OldPrice VNĐ</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- Product End -->
    </main>
</div>